.app {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-tab {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-tab:hover {
  background-color: #e0e0e0;
}

.nav-tab.active {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.book-list {
  display: flex;
  justify-content: start;
}

.no-books {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #666;
}

.book-show {
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-show:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-show img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-show h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.book-show .actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.book-search {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.book-search input {
  width: calc(100% - 100px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book-search button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.book-search button:hover {
  background-color: #0056b3;
}

.book-results {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fdfdfd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Arial", sans-serif;
  margin: 10px;
  overflow: hidden;
}

.book-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #f8f8f8;
  transform: translateY(-5px);
}

.book-card img {
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.book-card p {
  font-size: 0.9em;
  color: #666;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

@media (max-width: 660px) {
  .book-list {
    flex-direction: column;
    align-items: center; /* Center align items */
  }

  .app h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .book-search {
    width: 90%;
    padding: 10px;
  }

  .book-search input {
    width: calc(100% - 80px);
    padding: 8px;
    margin-right: 8px;
  }

  .book-search button {
    padding: 8px 16px;
  }

  .book-results {
    flex-direction: column;
    align-items: center;
  }

  .book-card {
    width: 50%;
    margin-bottom: 20px;
  }
}
