.book-list {
  display: flex;
  justify-content: start;
}

.book-show {
  width: 300px;
}

@media (max-width: 660px) {
  .book-list {
    flex-direction: column;
  }

  .book-show {
    width: 80%;
  }

  .app h1 {
    text-align: center;
  }
}
